<div class="board-container">
    <div class="board">
        <app-box id="{{box.className}}" class="block" *ngFor="let box of boxes; let i = index" [value]="box.value" (click)="playGameBrain(i)"></app-box>
    </div>
    <div class="container">
        <h2 id="winner"></h2>
        <button (click)="newGame()">RESET BOARD</button>
      </div>
      <div class="container">
        <h2 id="winner"></h2>
        <button>Current AI Performance: {{ai.currentPerformance}}</button>
      </div>
</div>